{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
    	{% for comment in object.comments %}
        	<p>{{ comment.content }}</p>
        {% endfor %}
    </div>
{% endblock %}